body{
    text-align: center;
    background-image: url("https://media.tenor.com/tDv72O4_tiMAAAAC/espa%C3%A7o-space.gif");
    background-size: cover;
    color: white;
    
}
#titulo{
    font-size: 70px;
    animation: text-rgb 5s infinite ;
    font-family: Apple Chancery, cursive;
}
@keyframes text-rgb {
    0%{
        color: red;
    }
    15%{
        color: orange;
    }
    30%{
        color: yellow;
    }
    55%{
        color: green;
    }
    70%{
        color: blue;
    }
    90%{
        color: blueviolet;
    }
   
}
p{
    text-shadow: 10%;
}
pre{
    background-color: rgba(105, 105, 105, 0.192);
    text-align: start;
    display: flex;
    width: min-content;
    padding: 25px;
    margin-left: 30px;
}
